/* Указываем box sizing */
*,
*::before,
*::after
  box-sizing: border-box


/* Убираем внутренние отступы */
ul[class],
ol[class]
  padding: 0


/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd 
  margin: 0

/* Выставляем основные настройки по-умолчанию для body */
body
  min-height: 100vh
  text-rendering: optimizeSpeed
  line-height: 1.5
